@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: red;
    --foreground: #ccc;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 100svh;
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
